@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;1,100;1,200;1,300&family=Poppins:ital,wght@0,100;0,200;0,800;1,100;1,300;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
/*-------------------HEADER-------------------*/
header{
    background-color:  rgb(250, 215, 209);
}
header img{
    width: 150px;
    height: 150px;
}
header nav ul{
    list-style: none;
    display: flex;
}
header nav ul li{
    margin: 30px;
}
header nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: 900;
}
/*------------------PAGE-INDEX------------------*/
/*------------------MAIN-----------------*/
.hero{
    color: white;
    text-align: center;
    background-image: url(../img/fondo3.jpg);
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 700px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.hero h1{
    font-size: 50px;
    font-weight: 600;
}
.hero p{
    font-size: 40px;
}
.aniadidosrecientemente{
    height: 400px;
    background-color: rgb(214, 250, 214);
}
.aniadidosrecientemente h2{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    padding: 20px;
    color: lightblue;
}
.aniadidosrecientemente .divpadre{
    display: flex;
    justify-content: space-around;
}
.aniadidosrecientemente .divpadre div{
    font-family: 'Montserrat', sans-serif;
    border: 2px solid rgb(255, 210, 203);
    width: 200px;
    height: 100%;
    text-align: center;
}
.aniadidosrecientemente .divpadre div h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.aniadidosrecientemente div img{
    width: 200px;
    height: 200px;
}
.aniadidosrecientemente div a{
    color: white;
    text-decoration: none;
    background-color: lightskyblue;
    padding: 3px;
    font-family: 'Montserrat', sans-serif;
}
.galeria{
    background-color: rgb(214, 250, 214);
}
.galeria h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    padding: 20px;
    color: lightblue;
    font-weight: 700;
}
.galeria div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.galeria div img{
    margin: 10px;
    height: 400px;
    width: 400px;
}
.galeria .link{
    display: flex;
    justify-content: end;
}
.galeria div a{
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color: lightskyblue;
    border: 2px solid white;
    font-weight: 800;
}
.comentarios{
    height: 70vh;
    background-image: url(../img/fondo6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.comentarios h2{
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 600;
}
.comentarios .contenedor{
    color: white;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.comentarios .contenedor div{
    background-color: rgb(250, 215, 209);
    height: 100%;
    width: 300px;
    border: 2px dotted white;
    padding: 10px;
}
.comentarios .contenedor div h3{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.comentarios .contenedor div p{
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
}
/* -----------------PAGE-CATÁLOGO--------------- */
.galeria-cactus{
    background-color: rgb(214, 250, 214);
}
.titulo{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.titulo h2{
    text-align: center;
    margin: 30px;
    padding: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border: 2px solid lightblue;
}
.grid-galeria1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 400px;
    gap: 10px;
}
.grid1-item img{
    height: 100%;
    width: 100%;
}
.cactus-2{
    grid-row: span 2;
}
.cactus-4{
    grid-row: span 2;
}
.cactus-6{
    grid-column: span 2;
}
.cactus-7{
    grid-column: 1 / 3;
}
.galeria-suculentas{
    background-color: rgb(214, 250, 214);
}
.carrusel div img{
    width: 100%;
    height: 600px;
}
.galeria-macetas{
    background-color: rgb(214, 250, 214);
    padding-top: 10px;
}
.grid-galeria2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 400px;
}
.galeria-macetas div img{
    height: 100%;
    width: 100%;
    border: 5px solid lightblue;
}
.maceta1{
    grid-row: 1 / 3;
}
.maceta2{
    grid-column: span 2;
}
.maceta4{
    grid-row: 2 / 4;
}
/* -----------------PAGE-SERVICIOS-------------- */
.servicios div h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    height: 100px;
    background-color: rgb(214, 250, 214);
    color: lightblue;
}
.bodas{
    background-image: url(../img/servicios/bodas.jpg);
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bodas h3{
    color: white;
}
.cumpleanios{
    background-image: url(../img/servicios/cumpleanios.jpg);
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cumpleanios h3{
    color: white;
}
.bautismos{
    background-image: url(../img/servicios/bautismos.jpg);
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bautismos h3{
    color: white;
}
.almuerzosycenas{
    background-image: url(../img/servicios/almuerzosycenas.jpg);
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.almuerzosycenas{
    color: white;
}
.servicios p{
    font-weight: 900;
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: rgb(214, 250, 214);
    color: lightblue;
}
/*---------------FOOTER-------------------*/
footer{
    background-color:  rgb(250, 215, 209);
    height: 100%;
}
footer div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer div div{
    display: flex;
    flex-direction: column;
}
footer div div h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 600;
}
.div-logos{
    display: flex;
    flex-direction: row;
    margin: 20px;
}
.logoinstagram{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
.logofacebook{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
.logowhatsapp{
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 60px;
    height: 60px;
}
.ubicacion{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.ubicacion h2{
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

}
.ubicacion iframe{
    height: 200px;
    width: 500px;
}
footer h3{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

/*!--------MEDIA QUERY-----------*/
/*-----------PAGE-INDEX------------*/
@media screen and (max-width:1260px){
    .hero h1{
        font-size: 40px;
    }
    .hero p{
        font-size: 30px;
    }
}
@media screen and (max-width:1000px){
    .grid-galeria1{
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: 300px;
    }
    .grid-galeria2{
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: 300px;
    }
    .grid1-item{
        grid-column: span 1;
    }
    .grid2-item{
        grid-column: span 1;
    }
    
    footer div{
        display:flex;
        flex-direction: column;
    }
    footer div div h2{
        text-align: center;
        margin: 20px;
    }
    .ubicacion h2{
        margin-top: 0;
    }
}
@media screen and (max-width:900px){
    .aniadidosrecientemente .divpadre{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .aniadidosrecientemente{
        height: 100%;
    }
    .aniadidosrecientemente .divpadre div{
        margin: 10px;
    }
    .comentarios{
        height: 100%;
    }
    .contenedor div{
        margin: 10px;
    }
}
@media screen and (max-width:800px){
    .galeria div img{
        margin: 10px;
        height: 300px;
        width: 300px;
    }
}
@media screen and (max-width:700px){
    footer h3{
        font-size: 10px;
    }
    .galeria .link{
        margin-right: 10px;
    }
}
@media screen and (max-width:610px){
    .comentarios{
        height: 100%;
    }
    .comentarios h2{
        margin: 20px;
    }
    .grid-galeria1{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .grid1-item{
        height: 300px;
        width: 300px;
        margin: 20px;
        border: 5px solid white;
    }
    .grid-galeria2{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .grid2-item{
        height: 300px;
        width: 300px;
        margin: 20px;
    }
    .carrusel div img{
        height: 350px;
    }
}
@media screen and (max-width:520px){
    .ubicacion iframe{
        height: 150px;
        width: 300px;
    }
    .galeria h2{
        text-align: center;
    }
}
@media screen and (max-width:400px){
    .hero{
        height: 400px;
        background-attachment: local;
    }
    .hero h1{
        font-size: 25px;
    }
    .hero p{
        font-size: 15px;
    }
    .galeria div img{
        margin: 10px;
        height: 200px;
        width: 200px;
    }
    .carrusel div img{
        height: 250px;
    }
}
